$header_font_color: #fff;
$header_background_color: #005ed0;
$button_color: #ff6100;
$content_font_color: #333;
$font_size_text: 15px;
$font_size_desc: 12px;
$font_size_title: 14px;
$font_size_title--big: 18px;
$font_size_slogan: 28px;
$font_size_slogan--medium: 38px;
$font_size_slogan--big: 48px;
